{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    <h1>All Categories View</h1>
    <ol>
          {% for ind, val in top_three_per_cat.items  %}
            {% for cat in all_categories %}
              {% if cat.id == ind %}
                <h3>{{cat}}</h3>
              {% endif %}
            {% endfor %}
            {% for product in val %}
              <ol>
                <li>{{product.title}}</li>
              </ol>
            {% endfor %}
          {% endfor %}
      </ol>

      
      {% for category in all_categories %}
      {% with cat_products=category.get_products %}
        <h2>{{ category.category_name }} ({{ cat_products|length }})</h2>
        <ol>
          {% for product in cat_products|slice:":4" %}
            <li><a href="{% url 'website:product_details' product.id %}">{{product.title}}</a></li>
          {% endfor %}          
        </ol>
      {% endwith %}
      {% endfor %}
      
  </body>
</html>
