{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    <h1>All Categories View</h1>

    <ol>
    {% for type in category %}
      <h2><b><a href="">  {{ type.category_name }}</a> <br></b></h2>
      {% for item in product reversed %}
          {% if item.product_category_id == type.id %}
          <h5> &nbsp &nbsp -->      <a href="">            {{ item.title}}    ({{item.quantity}}) </a>  <br>  </h5>

    {% endif %}
    {% endfor %}
    {% endfor %}
    </ol>
  </body>
</html>
