{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    <h1>Product Details Views</h1>

    <ol>
      <li>Title: {{ product.title }}</li>
      <li>Description: {{ product.description }}</li>
      <li>Quantity Available: {{ product.quantity }}</li>
      <li>Price/Unit: {{ product.price }}</li>
    </ol>

  {% if request.user.is_authenticated %}
  <form method="post" action="{% url 'website:product_details' product_id=product.id %}">
    {% csrf_token %}
    <button type="submit" value="submit">Add to Order</button>
  </form>
  {% endif %}

  </body>
</html>
