{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <a href="/sell">Sell a Product</a> | <a href="{% url 'website:categories' %}">Categories</a>

    <ol>
    {% for product in products %}
        <li><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a> - {{ product.quantity }}</li>
    {% endfor %}
    </ol>
  </body>
</html>

{% comment %}{% url "website:detail" id=product.id %}{% endcomment %}