{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
    <h1>Edit Selected Payment Page</h1>
        <ol> {% for payment_type in payment_types %}
          <form id="edit_payment_type" method="post" action="{% url 'website:edit_payment_type' %}">
            {% csrf_token %}
            <input type="hidden" value="{{payment_type.id}}" name="payment_type" />
            <li>{{ payment_type.name }} {{ payment_type.account_number }}<input type="submit" value="delete" />
            </li>
          </form>
          {% endfor %}
      </ol>
  </body>
</html>
    