<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      <br>
      <br>
      <br>
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="">Home</a></li>
          <li><a href="">Product Categories</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'website:sell' %}">
          Sale Your Product</a></li>
          {% endif %}
          <li><a href="">Shopping Cart</a></li>

      </ul>
     {% endblock %}
      </div>

      <div class="col-sm-10">
        <h2> Welcome to Bangazon! </h2>
        {% if user.is_authenticated %}
        <h3> Good to see you again, {{user.username}} </h3>
        <a href="{% url 'website:logout' %}">Logout</a>
        {% else %}
        <div><a href="{% url 'website:register' %}">Join the future, Join BANGAZON!</a></div>
        <div><a href="{% url 'website:login' %}">You've been gone to long! Log in!!! </a></div>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <!--
        purpose: displays top 20 products on home page (index.html)

        author: Miriam Rozenbaum

        args: product_id: (integer): id of product that is clicked, in order to show specific product details 

        returns: (integer): id of product clicked
        !-->    
        <h3> Top 20 Products: {{Product}}</h3>
        <div>
          <ol>
            {% for product in top_20_products %}
            <li><a href="{% url 'website:product_details' product.id %}">{{ product.title }}</a></li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>



  </div>
</body>
</html>
