{% load staticfiles %}
<!DOCTYPE html>
<html>
<body>
<h1>Welcome to Bangazon!</h1>
{% if user.is_authenticated %}
    <a href="{%  url 'website:products' %}">All Products</a> | <a href="{% url 'website:logout' %}">Logout</a>
    <h1>Bangazon says... hello {{ user.username }}!</h1>
{% else %}
    <a href="{%  url 'website:products' %}">All Products</a> | <a href="{% url 'website:login' %}">Login</a> | <a href="{% url 'website:register' %}">Register</a>
    <h1>Please login or register.</h1>
{% endif %}
</body>
<head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
</html>